@model IEnumerable<PracticaCalificada2.Models.CuentaBancaria>

@{
    ViewBag.Title = "Listar Cuentas";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">NombreTitular</th>
            <th scope="col">TipoCuenta</th>
            <th scope="col">SaldoInicial</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                <td>@Html.DisplayFor(modelItem => item.NombreTitular)</td>
                <td>@Html.DisplayFor(modelItem => item.TipoCuenta)</td>
                <td>@Html.DisplayFor(modelItem => item.SaldoInicial)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
            </tr>
        }

    </tbody>
</table>